html {
    position: relative;
    min-height: 100%;
}
body {
  padding-top: 50px;
  margin: 0 0 35px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;  background-color: #DDD;
  width: 100%;
  height: 35px;
  padding-top: 10px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* sidebar-right */
#sidebar-right {
  margin-top: 20px;
  background-color: #F9F9F9;
  font-size: 85%;
  padding: 10px;
}

#sidebar-right-profiles img {
  height: 24px;
  width: 24px;
  margin: 2px;
}

#sidebar-right ul {
  padding-left: 15px;
}

/* content */
#content-div {
}

/* common */
.center {
  text-align: center;
}

/* Top navigation bar */
.navbar-nav > li {
  text-align: center;
  width: 140px;
}