# Main folders
bin/
pretzel/
web/_site/
gh-pages/
gh-pages-git/

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.txt
*.dst
*.class
*.name
*.blg
*.bbl

# IDEA
.idea/workspace.xml