bin/*
en/_site/*
ru/_site/*
en/_plugins/*
ru/_plugins/*
drafts-ru/*
drafts-en/*

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.txt
*.dst
*.class
*.name
*.blg
*.bbl
*.iml