---
layout: post
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div class="blog-post-toc">
@Raw(Model.Content)
</div>

<script src="/js/toc.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc({
        title: '<h2>Table of Contents</h2>',
        noBackToTopLinks: true,
        listType: 'ol',
        showEffect: 'none',
        showSpeed: '0',
        headers: '.blog-post-toc h3, .blog-post-toc h4, .blog-post-toc h5, .blog-post-toc h6'
    });
});
</script>