---
layout: en-page
---
@model Pretzel.Logic.Templating.Context.PageContext

<div class="page-header">
  <h1>@Model.Title</h1>
</div>

<div class="row post-full">
  <div class="col-xs-12">
    <div class="content">
       @Raw(Model.Content)
    </div>
      @{
          var host = "http://aakinshin.net";
          var title = Model.Page.Title;
          var url = host + Model.Page.Url.Replace("index.html", "");
      }
      Share:
      <a href="https://twitter.com/intent/tweet?text=@title&url=@url&via=andrey_akinshin&related=andrey_akinshin" rel="nofollow" target="_blank" title="Share on Twitter"><img class="profile-image" src="/img/icons/twitter.png" alt="" /></a>
      <a href="https://facebook.com/sharer.php?u=@url" rel="nofollow" target="_blank" title="Share on Facebook"><img class="profile-image" src="/img/icons/facebook.png" alt="" /></a>
      <a href="https://plus.google.com/share?url=@url" rel="nofollow" target="_blank" title="Share on Google+"><img class="profile-image" src="/img/icons/google-plus.png" alt="" /></a>
      <a href="http://vk.com/share.php?url=@url" target="_blank" title="Share on VKontakte"><img class="profile-image" src="/img/icons/vk.png" alt="" /></a>
      <hr />
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'aakinshinnet-en'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>