---
layout: en-default
---
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-9">
        <div id="content-div">
          @Raw(Model.Content)
        </div>
      </div>
      <div class="col-md-3">
        <div id="sidebar-right">
          <b>Profiles</b>
          <aside id="sidebar-right-profiles">
            <a href="https://github.com/AndreyAkinshin" title="GitHub">                            <img src="/img/icons/github.png" alt="" /></a>
            <a href="https://twitter.com/andrey_akinshin" title="Twitter">                         <img src="/img/icons/twitter.png" alt="" /></a>
            <a href="http://habrahabr.ru/users/dreamwalker" title="Habrahabr">                     <img src="/img/icons/habr.png" alt="" /></a>
            <a href="http://stackoverflow.com/users/184842/AndreyAkinshin" title="StackOverflow">  <img src="/img/icons/stackoverflow.png" alt=""></a>
            <a href="https://coderbits.com/Akinshin" title="CoderBits">                            <img src="/img/icons/coderbits.png" alt="" /></a>
            <a href="http://www.goodreads.com/AndreyAkinshin" title="GoodReads">                   <img src="/img/icons/goodreads.png" alt="" /></a>
            <a href="http://www.slideshare.net/AndreyAkinshin" title="SlideShare">                 <img src="/img/icons/slideshare.png" alt="" /></a>
            <a href="http://www.linkedin.com/in/AndreyAkinshin" title="LinkedIn">                  <img src="/img/icons/linkedin.png" alt="" /></a>
            <a href="https://plus.google.com/+AndreyAkinshinRu" title="Google+">                   <img src="/img/icons/google-plus.png" alt="" /></a>
            <a href="https://www.facebook.com/aakinshin.ru" title="Facebook">                      <img src="/img/icons/facebook.png" alt="" /></a>
            <a href="http://acm.timus.ru/author.aspx?id=27570" title="Timus">                      <img src="/img/icons/timus.png" alt="" /></a>
            <a href="https://www.diigo.com/user/AndreyAkinshin" title="Diigo">                     <img src="/img/icons/diigo.png" alt="" /></a>
            <a href="https://www.researchgate.net/profile/Andrey_Akinshin" title="ResearchGate">   <img src="/img/icons/research-gate.png" alt="" /></a>
            <a href="http://www.mendeley.com/profiles/andrey-akinshin/" title="Mendeley">          <img src="/img/icons/mendeley.png" alt="" /></a>
            <a href="http://www.mathnet.ru/php/person.phtml?personid=79053" title="MathNet">       <img src="/img/icons/math-net.png" alt="" /></a>
            <a href="http://elibrary.ru/author_items.asp?authorid=676806" title="elibrary">        <img src="/img/icons/elibrary.png" alt="" /></a>
            <a href="http://scholar.google.ru/citations?user=rYVl83IAAAAJ" title="Google Scholar"> <img src="/img/icons/google-scholar.png" alt="" /></a>
          </aside>
          <br />
          <b>Projects</b>
          <aside>
            <ul>
              <li><a href="http://problembook.net/">ProblemBook.NET</a></li>
              <li><a href="https://github.com/AndreyAkinshin/Russian-Phd-LaTeX-Dissertation-Template">LaTeX-templte for Phd thesis</a></li>
              <li><a href="https://github.com/AndreyAkinshin/BenchmarkDotNet">BenchmarkDotNet</a></li>
            </ul>
          </aside>
          <b>Selected posts</b>
          <aside>
            <i>.NET</i>
            <ul>
              <li><a href="/en/blog/dotnet/mono-utf8-conversions/">About UTF-8 conversions in Mono</a></li>
              <li><a href="/en/blog/dotnet/system-drawing-color-equals/">About System.Drawing.Color and operator ==</a></li>
              <li><a href="/en/blog/dotnet/msbuild-configurations/">Setting up build configuration in .NET</a></li>
              <li><a href="/en/blog/dotnet/jon-skeet-quiz/">Jon Skeet's Quiz</a></li>
              <li><a href="/en/blog/dotnet/gc-native/">Unexpected area to collect garbage in .NET</a></li>
              <li><a href="/en/blog/dotnet/closures/">Unobviousness in use of C# closures</a></li>
              <li><a href="/en/blog/dotnet/wrap-cs-in-com/">Wrapping C# class for use in COM</a></li>
            </ul>
            <i>Development</i>
            <ul>
              <li><a href="/en/blog/dev/refactoring/">To Refactor Or Not To Refactor?</a></li>
              <li><a href="/en/blog/dev/comments/">To Add Comments Or Not To Add?</a></li>
              <li><a href="/en/blog/dev/perfect-code-and-real-projects/">Perfect code and real projects</a></li>
            </ul>
          </aside>
          <b>Subscribe</b>
          <aside>
            <a href="/en/rss.xml"><i class="icon-connection"></i>RSS</a>&nbsp;
            <a href="/en/atom.xml"><i class="icon-connection"></i>Atom</a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>