---
layout: en-default
---
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-9">
        <div id="content-div">
          @Raw(Model.Content)
        </div>
      </div>
      <div class="col-md-3">
        <div id="sidebar-right">
          <b style="font-size:150%">Andrey Akinhin's blog</b><br />
          <img src="/img/icons/email.png" alt="" /><br />
          <img src="/img/misc/mvp-logo.png" alt="" /><br />
          <b>Profiles</b>
          <aside id="sidebar-right-profiles">
            <a href="https://github.com/AndreyAkinshin" title="GitHub">                            <img src="/img/icons/github.png" alt="" /></a>
            <a href="https://twitter.com/andrey_akinshin" title="Twitter">                         <img src="/img/icons/twitter.png" alt="" /></a>
            <a href="http://habrahabr.ru/users/dreamwalker" title="Habrahabr">                     <img src="/img/icons/habr.png" alt="" /></a>
            <a href="http://stackoverflow.com/users/184842/AndreyAkinshin" title="StackOverflow">  <img src="/img/icons/stackoverflow.png" alt=""></a>
            <a href="http://www.slideshare.net/AndreyAkinshin" title="SlideShare">                 <img src="/img/icons/slideshare.png" alt="" /></a>
            <a href="http://www.linkedin.com/in/AndreyAkinshin" title="LinkedIn">                  <img src="/img/icons/linkedin.png" alt="" /></a>
            <a href="https://plus.google.com/+AndreyAkinshinRu" title="Google+">                   <img src="/img/icons/google-plus.png" alt="" /></a>
          </aside>
          <br />
          <b>Projects</b>
          <aside>
            <ul>
              <li><a href="http://problembook.net/">ProblemBook.NET</a></li>
              <li><a href="https://github.com/AndreyAkinshin/Russian-Phd-LaTeX-Dissertation-Template">LaTeX-templte for Phd thesis</a></li>
              <li><a href="https://github.com/AndreyAkinshin/BenchmarkDotNet">BenchmarkDotNet</a></li>
            </ul>
          </aside>
          <b>Selected posts</b>
          <aside>
            <i>.NET — JIT</i>
            <ul>
              <li><a href="/en/blog/dotnet/ryujit-rc-and-constant-folding/">RyuJIT RC and constant folding</a></li>
              <li><a href="/en/blog/dotnet/unrolling-of-small-loops-in-different-jit-versions/">Unrolling of small loops in different JIT versions</a></li>
              <li><a href="/en/blog/dotnet/ryujit-ctp5-and-loop-unrolling/">RyuJIT CTP5 and loop unrolling</a></li>
              <li><a href="/en/blog/dotnet/dotnet/jit-version-determining-in-runtime/">JIT version determining in runtime</a></li>
              <li><a href="/en/blog/dotnet/subexpression-elimination-bug-in-jit-x64/">A bug story about JIT-x64</a></li>
              <li><a href="/en/blog/dotnet/inlining-and-starg/">A story about JIT-x86 inlining and starg</a></li>
            </ul>
            <i>.NET</i>
            <ul>
              <li><a href="/en/blog/dotnet/mono-utf8-conversions/">About UTF-8 conversions in Mono</a></li>
              <li><a href="/en/blog/dotnet/system-drawing-color-equals/">About System.Drawing.Color and operator ==</a></li>
              <li><a href="/en/blog/dotnet/msbuild-configurations/">Setting up build configuration in .NET</a></li>
              <li><a href="/en/blog/dotnet/jon-skeet-quiz/">Jon Skeet's Quiz</a></li>
              <li><a href="/en/blog/dotnet/gc-native/">Unexpected area to collect garbage in .NET</a></li>
              <li><a href="/en/blog/dotnet/closures/">Unobviousness in use of C# closures</a></li>
              <li><a href="/en/blog/dotnet/wrap-cs-in-com/">Wrapping C# class for use in COM</a></li>
            </ul>
            <i>Development</i>
            <ul>
              <li><a href="/en/blog/dev/refactoring/">To Refactor Or Not To Refactor?</a></li>
              <li><a href="/en/blog/dev/comments/">To Add Comments Or Not To Add?</a></li>
              <li><a href="/en/blog/dev/perfect-code-and-real-projects/">Perfect code and real projects</a></li>
            </ul>
          </aside>
          <b>Subscribe</b>
          <aside>
            <a href="/en/rss.xml"><i class="icon-connection"></i>RSS</a>&nbsp;
            <a href="/en/atom.xml"><i class="icon-connection"></i>Atom</a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>