---
layout: default
---
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4">
        <div style="margin-top: 20px;" id="sidebar-right">
          <b>Профили</b>
          <aside id="sidebar-right-profiles">
            {% include sidebar-right/profile_list %}
          </aside>
          <br />
          <b>Проекты</b>
          <aside>
            {% include sidebar-right/projects %}
          </aside>
          <b>Изрбранные посты</b>
          <aside>
            {% include sidebar-right/selected_posts %}
          </aside>
          <b>Подписаться</b>
          <aside>
            {% include sidebar-right/subscribe %}
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>