---
layout: ru-default
---
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-9">
        <div id="content-div">
          @Raw(Model.Content)
        </div>
      </div>
      <div class="col-md-3">
        <div id="sidebar-right">
          <b style="font-size:150%">Блог Андрея Акиньшина</b><br />
          <img src="/img/icons/email.png" alt="" /><br />
          <img src="/img/misc/mvp-logo.png" alt="" /><br />
          <b>Профили</b>
          <aside id="sidebar-right-profiles">
            <a href="https://github.com/AndreyAkinshin" title="GitHub">                            <img src="/img/icons/github.png" alt="" /></a>
            <a href="https://twitter.com/andrey_akinshin" title="Twitter">                         <img src="/img/icons/twitter.png" alt="" /></a>
            <a href="http://habrahabr.ru/users/dreamwalker" title="Хабрахабр">                     <img src="/img/icons/habr.png" alt="" /></a>
            <a href="http://stackoverflow.com/users/184842/AndreyAkinshin" title="StackOverflow">  <img src="/img/icons/stackoverflow.png" alt=""></a>
            <a href="http://www.slideshare.net/AndreyAkinshin" title="SlideShare">                 <img src="/img/icons/slideshare.png" alt="" /></a>
            <a href="http://www.linkedin.com/in/AndreyAkinshin" title="LinkedIn">                  <img src="/img/icons/linkedin.png" alt="" /></a>
            <a href="https://plus.google.com/+AndreyAkinshinRu" title="Google+">                   <img src="/img/icons/google-plus.png" alt="" /></a>
          </aside>
          <br />
          <b>Проекты</b>
          <aside>
            <ul>
              <li><a href="http://problembook.net/">Задачник.NET</a></li>
              <li><a href="https://github.com/AndreyAkinshin/Russian-Phd-LaTeX-Dissertation-Template">LaTeX-шаблон для диссертации</a></li>
              <li><a href="https://github.com/AndreyAkinshin/BenchmarkDotNet">BenchmarkDotNet</a></li>
            </ul>
          </aside>
          <b>Избранные посты</b>
          <aside>
            <i>.NET</i>
            <ul>
              <li><a href="/ru/blog/dotnet/typehandle/">Вся правда о TypeHandle в .NET</a></li>
              <li><a href="/ru/blog/dotnet/cheatsheet-rounding/">Учимся округлять в C#</a></li>
              <li><a href="/ru/blog/dotnet/closures/">Неочевидности в использовании C#-замыканий</a></li>
              <li><a href="/ru/blog/dotnet/cheatsheet-nullable/">Nullable-арифметика</a></li>
              <li><a href="/ru/blog/dotnet/ms-mcp/">Получение MCP: личный опыт</a></li>
              <li><a href="/ru/blog/dotnet/happy-monday/">Happy Monday!</a></li>
              <li><a href="/ru/blog/dotnet/cultureinfo/">Эти занимательные региональные настройки</a></li>
              <li><a href="/ru/blog/dotnet/arrays-internal-structure/">Внутреннее устройство массивов в .NET</a></li>
              <li><a href="/ru/blog/dotnet/gc-native/">Неожиданное место для сборки мусора в .NET</a></li>
              <li><a href="/ru/blog/dotnet/list-version-side-effect/">Сайд-эффект внутренней реализации List</a></li>
            </ul>
            <i>.NET — JIT</i>
            <ul>
              <li><a href="/ru/blog/dotnet/ryujit-rc-and-constant-folding/">RyuJIT RC и свёртка констант</a></li>
              <li><a href="/ru/blog/dotnet/unrolling-of-small-loops-in-different-jit-versions/">Размотка маленьких циклов в разных версиях JIT</a></li>
              <li><a href="/ru/blog/dotnet/ryujit-ctp5-and-loop-unrolling/">RyuJIT CTP5 и размотка циклов</a></li>
              <li><a href="/ru/blog/dotnet/jit-version-determining-in-runtime/">Определение версии JIT в рантайме</a></li>
              <li><a href="/ru/blog/dotnet/subexpression-elimination-bug-in-jit-x64/">История про баг в JIT-x64</a></li>
              <li><a href="/ru/blog/dotnet/inlining-and-starg/">История про инлайнинг под JIT-x86 и starg</a></li>
            </ul>
            <i>R</i>
            <ul>
              <li><a href="/ru/blog/r/functions/">Функции в R</a></li>
              <li><a href="/ru/blog/r/rprofile/">Rprofile — кастомизируем рабочее окружение</a></li>
              <li><a href="/ru/blog/r/string-concatenation/">Конкатенация строк в R</a></li>
            </ul>
            <i>Разработка</i>
            <ul>
              <li><a href="/ru/blog/dev/perfect-code-and-real-projects/">Совершенный код и реальные проекты</a></li>
              <li><a href="/ru/blog/dev/refactoring/">Рефакторить или не рефакторить?</a></li>
              <li><a href="/ru/blog/dev/comments/">Комментировать или не комментировать?</a></li>
            </ul>
            <i>Образование</i>
            <ul>
              <li><a href="/ru/blog/education/government-decree-842/">Изменения в правилах защиты диссертаций</a></li>
            </ul>
          </aside>
          <b>Подписаться</b>
          <aside>
            <a href="/ru/rss.xml"><i class="icon-connection"></i>RSS</a>&nbsp;
            <a href="/ru/atom.xml"><i class="icon-connection"></i>Atom</a>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>